body
{
    background-image: url("../art/others/Background2.png");
    background-color: #f7e2e2;
}

h1
{
    font-family: 'Playfair Display SC', serif;
    font-size: 60px;
    text-align: center;
    -webkit-text-stroke-color: #494949;
    -webkit-text-stroke-width: 0.2px; 
}

h2
{
    text-align: center;
    background-color: #ffffff;
}

h3
{
    margin: auto;
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
}

h4
{
    margin: auto;
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
}

h6
{
    text-align: center;
}

.navbar-brand
{
    font-size: 30px;
    -webkit-text-stroke-color: #494949;
    -webkit-text-stroke-width: 0.25px;
}

.metallic-text
{
    background-image: linear-gradient(to left, black, black, black, lightgray, white, lightgray, black, black, black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.centeredIframe
{
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
}

.centered 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container 
{
    position: relative;
    text-align: center;
}

.important-text
{
    font-size: 80px;
}

footer 
{
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
    position: sticky;
}

.behind
{
    z-index: 0;
    position: relative;
}

.behind:after
{
    content: url(../art/others/LogoTransparente-resized.png);
    position: absolute;
    width: 100%;
    height: auto;
    top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 1;
}
 
.rounded-pill
{
    margin-left: 10%;
    margin-right: 10%;
}

.news
{
    margin: 2%
}